.wrapper {
  display: block;
  &:before {
    clear: both;
    content: "";
    display: table;
  }
  .header {
    position: fixed;
    left: 0;
    right: 0;
    height: $navbar-height;
    border-bottom: 1px solid $border;
    z-index: 150;
  }
  .sidebar {
    .sidebar-overlay {
      position: fixed;
      top: $navbar-height;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      pointer-events: none;
      background-color: black;
      transition: opacity .15s linear;
      z-index: 50;
    }
    &.is-open .sidebar-overlay {
      opacity: 0.5;
      pointer-events: all;
      @include desktop {
        opacity: 0;
        pointer-events: none;
      }
    }
    .sidebar-panel {
      box-sizing: border-box;
      position: fixed;
      margin-top: $navbar-height;
      width: $sidebar-width;
      min-height: calc(100vh - #{$navbar-height});
      margin-left: -$sidebar-width;
      border-right: 1px solid $border;
      height: 100%;
      background-color: $body-background-color;
      z-index: 100;
      padding: $gap;
      transition: margin .15s linear;
      @include desktop {
        margin-left: 0;
      }
    }
    &.is-open .sidebar-panel {
      margin-left: 0;
    }
  }
  .main {
    margin-top: $navbar-height;
    padding: $gap;
    @include desktop {
      margin-left: $sidebar-width;
    }
  }
}